body {
    font-family: Arial, sans-serif;
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056B3;
  }

  
  @import 'tailwindcss';

  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
 /*
     table {
    width: 100%;
    border-collapse: collapse;
  }
 */
/* 
  th, td {
    text-align: center;
    padding: 32px;     
    border: 1px solid #ccc;
  }*/
  /*
  thead {
    background-color: #f0f0f0;
  }
  
  */

  
